*{
	margin:0;
	padding:0;
}
body{
	background-color:lightgray;
}
#n{
	padding-top:10px;
	padding-bottom:1%;
				
}
#h{
	margin-left:10%;
	color:white;
}
h1{
	color:gray; 
	font-weight:bold;
	padding:20px; 
	font-size:3em;
	margin-top:10%;
}
#i{
	margin-top: 5%;
	color:white;
	padding:0px 10px;
	border-radius: 5%;
}
#i:hover{
	background-color:black;
	color: white;
}
#b{
					
	color:white;
	font-size:1.4em;
	text-decoration:none;
}
#u{
	margin-top:-3%;
}
#uu{
	overflow:auto;
	font-size:0.9em;
}
#uu a:hover{
	background-color:rgb(142,199,255);
	color:white;	
}
#ax{
	margin-top:70px;
}
hr{
	width:35%;
	margin-left:33%;
}
h1{
	color:gray; 
	font-weight:bold;
	padding:20px; 
	font-size:3em;
	font-family: cooper;
}
#btn{
	margin-left: 72.5%;
}
td{
	background-color: black;
	color: white;
}